.App {
  text-align: center;
  /* background-image: url('/public/assets/christmas1.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease-in-out;
}

.App-header {
  /* background-color: #34302c; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: gvs;
  src: url(../public/GreatVibes-Regular.ttf);
}

.gvs {
  font-family: gvs;
}

#vara-container svg {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), /* Horizontal shadow, Vertical shadow, Blur radius, Color */
              0 0 20px rgba(255, 255, 255, 0.7);
}
