.App {
  text-align: center;
  /* background-image: url('/public/assets/christmas1.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease-in-out;
}

.App-header {
  /* background-color: #34302c; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: gvs;
  src: url(../public/GreatVibes-Regular.ttf);
}

.gvs {
  font-family: gvs;
}

.vara-wrapper {
  width: 75%; /* Set width to 75% */
  margin: 0 auto; /* Center the wrapper */
}